<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus</string>
			<key>UIApplicationShortcutItemType</key>
			<string>CreateTaskAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New task</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>lato_regular.ttf</string>
		<string>lato_medium.ttf</string>
		<string>lato_bold.ttf</string>
	</array>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ENDPOINT_URL</key>
	<string>${ENDPOINT_URL}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
